<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset = "UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<script type="text/temlate" id="loggerTemplate">
			<h4><%= title%></h4><span><%= message%></span>
		</script>
	<div id="logger">
		
	</div>
	<form action="" id="addTask">
		<div >
			<input type="text" placeholder="Your New Task">
			<input type="submit" value="Add Task" class="btn btn-primary">
		</div>
	</form>
	<h1>Tasks list</h1>
	<div class="tasks">
		<script type="text/template" id="taskTemplate">
			<span><%= title %></span> <button class = "btn btn-primary edit">Edit</button> <button class = "btn btn-primary delete">Delete</button>
		</script>
	</div>
	<script type="text/javascript" src = "js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src = "js/underscore.js"></script>
	<script type="text/javascript" src = "js/backbone.js"></script>
	<script type="text/javascript" src = "js/main.js"></script>
</body>
</html>