/*FONTS*/
@font-face {
  font-family: 'DistrictThin';
  src: url('../fonts/distth__-webfont.eot');
  src: url('../fonts/distth__-webfont.eot') format('embedded-opentype'), url('../fonts/distth__-webfont.woff') format('woff'), url('../fonts/distth__-webfont.ttf') format('truetype'), url('../fonts/distth__-webfont.svg#DistrictRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3 {
  font-family: 'DistrictThin', 'Segoe UI Light', Arial, Helvetica, sans-serif !important;
}
body,
html {
  height: 100%;
 /*  background: #f5f5f5; */
}
.activeRow{
  background-color: #f5f5f5;
}
.subTable{
 background-color: #f5f5f5;
}
