<div class="accordion" id="accordion2">
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseone">
            <h3>Open</h3>
        </a>
    </div>
    <div id="collapseone" class="accordion-body in collapse">
        <div class="accordion-inner accordion-inner-open">
            -
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
            <h3>Pending</h3>
        </a>
    </div>
    <div id="collapseTwo" class="accordion-body in collapse">
        <div class="accordion-inner">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Requestion</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
            <h3> Approved </h3>
        </a>
    </div>
    <div id="collapseThree" class="accordion-body in collapse">
        <div class="accordion-inner">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Requestion</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">
            <h3>Processing</h3>
        </a>
    </div>
    <div id="collapseFour" class="accordion-body in collapse">
        <div class="accordion-inner">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Requestion</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">
            <h3> Plased</h3>
        </a>
    </div>
    <div id="collapseFive" class="accordion-body in collapse">
        <div class="accordion-inner">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Requestion</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Req8436</td>
                    <td>mm/dd/yyyyk</td>
                    <td>Med closet 123</td>
                    <td>$480.05</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="#">Option</a>
                            <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Approve</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>