
<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseone">
            <h3><%=title%></h3>
        </a>
    </div>
    <div id="collapseone" class="accordion-body in collapse">
        <div class="accordion-inner accordion-inner-open">
            -
        </div>
    </div>
</div>