<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset = "UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
<body>
	<script type="text/template" id ="person-id">
		<strong><%= name%></strong> (<%= age%> ) - <%= job%>
	</script>
	<form action="" id = "addTask" >
		<input type="text" placeholder = "Your New Task">
		<input type="submit" value="Add Task">
	</form>
	<h1>Tasks list</h1>
	<div class= "tasks">
		<script type="text/template" id ="taskTemplate">
			<span><%= title %></span> <button class = "edit">Edit</button> <button class = "delete">Delete</button>
		</script>
	</div>
	<script type="text/javascript" src = "js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src = "js/underscore.js"></script>
	<script type="text/javascript" src = "js/backbone.js"></script>
	<script type="text/javascript" src = "js/main.js"></script>
</body>
</html>