<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>SupplyChain Management Application</title>
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/plsc.css"/>
	</head>
<body>

<div id="content-layout">

<div id="content">
<script type="text/template" id="tableTemplate">
	 <thead>
                <tr>
                    <th>Requestion</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="mainTableContent">
                </tbody>
   
</script>
 <script type="text/template" id="rowTemplate">
<td><%=title%></td>
<td><%=day%></td>
<td><%=status%></td>
<td><%=price%></td>
<td>
    <div class="btn-group">
        <a class="btn" href="#">Option</a>
        <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Approve</a></li>
        </ul>
    </div>
</td>

 </script> 
 <script type="text/template" id="subTableTemplate">
 	 <table class="table table-hover">
 	 <thead>
     </thead>
     <tbody id="subTableContent">
     </tbody>
     </table>
 </script>
 <script type="text/template" id="subRowTemplate">
 	<td><%=title%></td>
	<td><%=firstInfo%></td>
	<td><%=secondInfo%></td>
	<td>
	    <div class="btn-group">
	        <a class="btn" href="#">Aciton</a>
	        <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#"><span
	                class="caret"></span></a>
	        <ul class="dropdown-menu">
	            <li><a href="#">Approve</a></li>
	        </ul>
	    </div>
	</td>
</script>
Content
</div>
</div>

	<script type="text/javascript" src = "js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src = "js/underscore.js"></script>
	<script type="text/javascript" src = "js/backbone.js"></script>
	<script type="text/javascript" src = "js/backbone.marionette.js"></script>
	<script type="text/javascript" src = "js/bootstrap.js"></script>
	<script type="text/javascript" src = "js/main.js"></script>
</body>

</html>