html,body{
	margin:10px;
}

span {
	width:25%;
	float: left;
}
button{
	margin: 0;	
} 

#addTask input[type=submit]{
	margin-top: -10px;
}

li{
	margin-bottom: 5px;
}

li button{
	margin-top: -3px;
}
#logger{
	position: absolute;
	display: none;
	width:50%;
	left:50%;
	margin-left: -25%;
}